@{
    ViewBag.Title = "Home Page";
}

<div id="main-contentholder">
    <div id="intro">
        <div id="res-slider" class="unselectable">
            <div id="resCarousel" class="carousel slide text-center" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item"><a href="#"><div id="com1"></div><p class="sl-righttop">Ready On Time</p></a></div>
                    <div class="item"><a href="#"><div id="com2"></div><p class="sl-leftbot">Elegant Layout</p></a></div>
                    <div class="item active"><a href="#"><div id="com3"></div><p class="sl-leftbot">All of Type Business Solutions</p></a></div>
                    <div class="item"><a href="#"><div id="com4"></div><p class="sl-lefttop">State-of-Art Planning</p></a></div>
                    <div class="item"><a href="#"><div id="com5"></div><p class="sl-rightbot">Modern Appareance</p></a></div>
                </div>
                <ol class="carousel-indicators indicator">
                    <li data-target="#resCarousel" data-slide-to="0"></li>
                    <li data-target="#resCarousel" data-slide-to="1"></li>
                    <li data-target="#resCarousel" data-slide-to="2" class="active"></li>
                    <li data-target="#resCarousel" data-slide-to="3"></li>
                    <li data-target="#resCarousel" data-slide-to="4"></li>
                </ol>
            </div>
        </div>
    </div>
    <div id="about">
        asd
    </div>
    <div id="contact">
        asd
    </div>
</div>