body, .body-container {
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    font-family: 'Montserrat';
    font-size:2.4vh;
    letter-spacing:.1vh;
}

html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

#bg{
    top:0;
    left:0;
    /*background:url(../Content/Images/introbg.png) 0 0vh  no-repeat;
    background-size:cover;
    background-attachment:fixed;*/
}

p{
    padding-left:6vh;
    padding-right:6vh;
}

p:nth-child(1){
    padding-top:5vh;
}

p:nth-child(3){
    padding-bottom:5vh;
}

.unselectable{
    user-select:none;
    -webkit-user-select:none;   
}

#loader {
	position:absolute;
	top:0;
	left:0;
	content:'';
	height:100vh;
	width:100%;
	background-color:darkgray;
    outline:none;
    border:none;
    /*animation:shadow 2.5s linear;
    animation-fill-mode:forwards;*/
}

#loader img {
	position:absolute;
	width:30%;
	height:auto;
	top:30%;
	left:35%;
}

img#sawx, img#sawy {
	position:absolute;
	width:3.5%;
	height:auto;
	animation:spin .2s linear infinite;
}

img#sawx {
	top:34.7%;
	left:50.1%;
	/*animation-duration:.5s;*/
}

img#sawy {
	top:50.7%;
	left:53.5%;
}

.body-container {
	display:none;
}

.bg-container {
    width:100%;
    margin:0;
    padding:0;
    z-index:-1;
    background:#c32533;
}
.bg-container:nth-child(3){   background:#999898;   }
.bg-container:nth-child(4){   background:#2477b2;   }

#main-contentholder{
    width:100%;
    margin:auto;
}

#head {
    position:relative;
    height:11.5vh;
    width:100%;
    background:rgba(0,0,0,.2);
	display:none;
}

#logo {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    padding:3vh;
    width:20%;
    float:left;
    text-align:center;
}

    #logo img {
        width:50%;
        height:auto;
    }

#menu{
    position:fixed;
    text-align:center;
    float:left;
    width:99.9%;
    background:rgba(0,0,0,.2);
    z-index:999;
    color:white;
	transition:all .2s linear;
}

#menu ul {
    list-style:none;

}

#menu ul li{
    display:inline-block;
    margin-left:10vh;
    padding:3.3vh;
    font-size:2.5vh;
    font-weight:100;
    letter-spacing:.4vh;
    text-transform:uppercase;
    transition:all .2s linear;
}

#menu ul li a{
    padding:4vh;
    text-decoration:none;
    color:white;
    /*font-family:LeagueGothic;*/
}

#menu ul li a:hover {
    /*color:#c32533;*/
    color:#000;
}

#intro{
    height:89vh;
    width:100%;
    background-color:beige;
}

#intro-carousel{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.1);
}

#intro-carousel div{
    height:100%;
    width:100%;
}

#about{
    margin:auto;
    padding:0;
    padding-top:5vh;
    /*background:#c32533;*/
    color:#000;
    height:100vh;  
    width:80%; 
    background:#fff;
}

#gallery{
    margin:auto;
    /*margin-top:-1.8vh;*/
    padding:15vh 6vh 0 6vh;
    height:100vh;
    width:80%;
    content:'';
    /*background:#999898;*/
    background:#fff;
}

#gallery section img{
    margin:0;
    padding:0;
    width:10%;
    height:auto;
}

#contact{
    margin:auto;
    padding:10vh;
    /*background:#2477b2;*/
    height:97vh;
    width:80%;
    background:#fff;
}

#contact img{
    height:35vh;
    width:45%;
    float:left;
    object-fit:cover;
}

#address,#email,#phone{
    float:left;    
    display:block;
    text-align:center;
    width:50%;
}

#mapcontainer{
    width:100%;
    height:45vh;
    background:silver;
    float:left;
    margin-top:1%;
}

footer {
	margin:auto;
	padding:0 3vh 0 3vh;
	font-size:2vh;
    width:80%;
    text-align:right;
    background:white;
}

/*                              */
/*                              */
/*  LOW RESOLUTION ADJUSTMENTS  */
/*                              */
/*                              */

@media all and (max-width:1400px){
    img#sawy{
        top:52%;
    }
}


@font-face{
    font-family:LeagueGothic;
    src:url(../fonts/LeagueGothic-Regular.otf);
}

@keyframes spin {
	0% {transform:rotate(0);}
	100% {transform:rotate(360deg);}
}

@-webkit-keyframes spin {
	0% {-webkit-transform:rotate(0);}
	100% {-webkit-transform:rotate(360deg);}
}

@keyframes shadow {
    0% {box-shadow:rgba(0,0,0,.9) 1vh 1vh 15vh 20vh inset;}
    100% {box-shadow:rgba(0,0,0,.3) 1vh 1vh 15vh 5vh inset;}
}

@-webkit-keyframes shadow {
    0% {-webkit-box-shadow:rgba(0,0,0,.9) 1vh 1vh 15vh 20vh inset;}
    100% {-webkit-box-shadow:rgba(0,0,0,.3) 1vh 1vh 15vh 5vh inset;}
}

